body{
    background-color: rgb(63, 63, 35);
    color: white;
}
.datatypes{
    height: 200px;
    width: 300px;
    background-color: violet;
    border:5px solid indigo;
    border-radius: 5%;
}
.operators{
    height: 200px;
    width: 300px;
    background-color: green;
    border:5px solid indigo;
    border-radius: 5%;
    
}